/* 29. Styling and custom properties for the nav */

/* Update variable */
:root {
  --nav-item-link-hover: var(--color-white);
}

/* Target the before pseudo-element of nav-link inside nav */
.nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 20%;
}

/* When nav-item is hovered */
.nav .nav-item:hover .nav-link::before {
  background-color: var(--color-primary);
  width: 100%;
}
